*{
  margin :0;
  padding :0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul,ol{
  list-style-type: none;
}

.container{
  width: 1170px;
  margin: 0 auto;
}
header{
  background-color: black;
  padding: 15px 0;
  
}
.header_wrapper{
  display : flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}


.header_action{
  display:flex;
  column-gap: 55px;
}

.header_action_item{
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size:12px;
}

.header_icon{
  display: flex;
  column-gap: 20px;
}


nav{
  color: #fff;
  background: #e10c0c;
  padding: 30px 0;
}

.nav_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.menu{
  display: flex;
  column-gap: 72px;
  align-items: center;
  
}
  
.nav_btn{
  padding: 10px;
  color:#fff;
  border: 2px solid #fff;
  font-family: 'Poppins',  sans-serif;
  text-transform: uppercase;
  transition: all o.3s; 
}

.nav_btn:hover{
  background-color: #fff;
  color: #e10c0c;
  
}

.menu ul{
  display: flex;
  column-gap: 47px;
  align-items: center;
}

.menu ul li a{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;;
}

#banner{
  background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./Image/banner.jpg);
 
  padding: 220px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner_text{
  color: #fff;
  font-size: 50px;
  padding-left: 15%;
  
}

#banner_btn{
  color: white;
  background-color: #e10c0c;
  border: 0;
  padding: 1% 2%;
  margin-left: 17%;
  margin-top: 3%;
}

.Pg-2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5%;
  padding-left: 20%;
  column-gap: 10%;
  justify-content: center;
}

.text-1{
  font-size: 50px;
}

.text-2{
  padding-top: 10%;
}

.Pg-3{
  padding: 2%;
    display: flex;
    column-gap: 2%;
  
}

.Pg-3 img{
  height: 100%;
  width: 100%;
}

.Pg-4{
  display: grid;
  grid-template-columns: 50% 50% ;
  column-gap: 0px;
  padding-left: 2%;
  padding-right: 2%;
}


.Part-1{
padding-left: 30%;
padding-top: 10% ;
padding-right: 20%;

}
.P4Text-1{
  font-size: 300%;
  font-weight: 800;
}

.P4Text-2{
  font-size: 100%;
}

.part-2{
  background:linear-gradient( rgba(0, 0, 0, 0.7), #00000099), url(./Image/Page-4.jpg);
  padding: 100px 75px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  
}

.P2Text-1{
  color: #fff;
  font-size: 200%;
}

#P4_btn{
  color: white;
  background-color: #e10c0c;
  border: 0;
  padding: 1% 2%;
  margin-top: 3%;
}

.Pg5{
  display: flex;
  column-gap: 0px;
  padding-left: 2%;
  padding-right: 2%;
  
}

.Pg5-1{
  background:linear-gradient( rgba(0, 0, 0, 0.7), #00000099), url(./Image/Page-5/1.png);
  padding: 100px 75px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.Pg5-2{
  background:linear-gradient( rgba(0, 0, 0, 0.7), #00000099), url(./Image/Page-5/2.png);
  padding: 100px 75px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

.Pg6{
  display: flex;
  column-gap: 0px;
  padding: 5% 10%;

}

.Pg6_text{
  background-color: #e10c0c;
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  padding: 10%;
  font-family: sans-serif;
}

.Pg6_Image{
  background: url(./Image/Page-6.png);
  padding: 100px 300px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

#Pg6_btn{
  color: #e10c0c;
  background-color: #ffffff;
  padding: 25% 75%;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
}

.Pg7{
  display: flex;
  column-gap: 50px;
  padding: 10% 10%;

}

.Pg7_Image1{
  background:linear-gradient( rgba(0, 0, 0, 0.7), #00000099), url(./Image/Page-7.png);
  padding: 100px 100px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.Pg7_Image2{
  background:linear-gradient( rgba(0, 0, 0, 0.7), #00000099), url(./Image/Page-7.png);
  padding: 100px 100px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.Pg7_Image3{
  background:linear-gradient( rgba(0, 0, 0, 0.7), #00000099), url(./Image/Page-7.png);
  padding: 100px 100px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

.Pg7_text{
  color: #fff;
  text-align: left;
  font-family: sans-serif;
  
}

#Pg7_btn{
  margin-top: 50%;
  padding: 5% 15%;
  color:#ffffff;
  background-color: rgba(105, 105, 105, 0.34);
}

.Pg8_text{
  display: flex;
  column-gap: 30px;
  padding: 2% 30%;
  background-color: #e10c0c;
}

.Pg8_text1{
  padding-top: 2%;
  color: #fff;
  font-size: 20px;
}

#Pg8_btn{
  padding: 2% 5%;
  color: #fff;
  border-color: #fff;
  background-color: #e10c0c;
}

.footer{
  display: flex;
  column-gap: 5%;
  padding: 5%;
  background-color: #1F1F1F;
  color: white;
}

.footer_C1{
  padding-top: 3%;
  padding-bottom: 3%;
}

.footerLogo{
  display: flex;
  column-gap: 10px;
  padding-top: 3%;
}


.footer_C2{
  margin-left: 200%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#footer_C2Text{
  margin-top: 60%;
  font-weight: 700;
}

.footer_C3{
  margin-left: 200%;
  padding-top: 3%;
  padding-bottom: 5%;
}

#footer_C3Text{
  margin-top: 35%;
  font-weight: 700;
}

.footer_C4{
margin-left: 400%;
padding-bottom: 30%;
}

#footer_C4Text{
  margin-top: 60%;
  font-weight: 700;
}

.footer_C4Logo{
  display: flex;
  column-gap: 0px;

}